@font-face {
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  background-color: #293759;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  line-height: 1 !important;
}
.aligner {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.aligner-item {
  max-width: 100% !important;
}
#temp {
  display: block;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40vmax;
  text-transform: uppercase;
}
.fixedpos {
  position: absolute;
  bottom: 0;
}
#notcold {
  position:absolute;
  top: 0;
  color: white;
  display: block;
}
